In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../../01-Datasets/Invistico_Airline.csv")
df.head(15)

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
5,satisfied,Loyal Customer,30,Personal Travel,Eco,1894,0,0,0,3,...,2,2,5,4,5,5,4,2,0,0.0
6,satisfied,Loyal Customer,66,Personal Travel,Eco,227,0,0,0,3,...,5,5,5,0,5,5,5,3,17,15.0
7,satisfied,Loyal Customer,10,Personal Travel,Eco,1812,0,0,0,3,...,2,2,3,3,4,5,4,2,0,0.0
8,satisfied,Loyal Customer,56,Personal Travel,Business,73,0,0,0,3,...,5,4,4,0,1,5,4,4,0,0.0
9,satisfied,Loyal Customer,22,Personal Travel,Eco,1556,0,0,0,3,...,2,2,2,4,5,3,4,2,30,26.0
10,satisfied,Loyal Customer,58,Personal Travel,Eco,104,0,0,0,3,...,3,3,3,0,1,2,3,5,47,48.0
11,satisfied,Loyal Customer,34,Personal Travel,Eco,3633,0,0,0,4,...,2,2,3,2,5,2,5,2,0,0.0
12,satisfied,Loyal Customer,62,Personal Travel,Eco,1695,0,0,0,4,...,5,5,1,3,2,2,4,5,0,0.0
13,satisfied,Loyal Customer,35,Personal Travel,Eco,1766,0,1,0,1,...,4,4,3,5,2,3,2,4,0,0.0
14,satisfied,Loyal Customer,47,Personal Travel,Eco,84,0,1,0,1,...,1,5,5,0,5,2,5,2,40,48.0